html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
    background-color: #222222;
}

#container {
    margin: 0;
    height: 100%;
}

#rankList-container {
    width: 33%;
    height: 100%;
    float: left;
    position: relative;
}

#myList-container {
    width: 33%;
    height: 100%;
    float: left;
}

#myList-container {
    width: 34%;
    display: inline-block;
}

#searchList-container {
    width: 33%;
    height: 100%;
    float: right;
    position: relative;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.thumnail {
    width: 20%;
    float: left;
    z-index: 1;
}

.name {
    width: 70%;
    margin-left: 10px;
    float: left;
    text-overflow: ellipsis;
}

.row {
    padding-top: 6px;
    padding-left: 20px;
    width: 100%;
    height: 100px;
}

.row:hover{
    cursor: pointer;
    background-color: #555555;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.select-chart {
    height: 5%;
    background-color: #343434;
    color: #555555;
}

.select-chart:hover {
    background-color: #555555;
    cursor: pointer;
}

.select-button {
    font-size: 18px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.chart-content-disabled {
    display: none;
}

.chart-content{
    position: absolute;
    display: block;
    right: 0;
    background-color: #343434;
    width: 100%;
}

.rankList-innerContainer{
    height: 95%;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.myList-innerContainer {
    height: 50%;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.searchList-innerContainer {
    height: 70%;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.myList-menu {
    height: 45px;
    padding: 5px;
}

.myList-menu img{
    width: 40px;
    margin: 5px;
}

.myList-menu img:hover{
    cursor: pointer;
    background-color: #343434;
}

.myList-menu-left{
    float: left;
}

.myList-menu-right{
    float: right;
}

.chart-list{;
    display: block;
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
}

.chart-list:hover{
    cursor: pointer;
    background-color: #555555;
}

.divider{
    background-color: #555555;
    width: 100%;
    height: 1px;
}

#search-form{
    width: 100%;
    height: 50px;
}

#search-word{
    width: 100%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 18px;
    border: 0;
    font-size: 18px;
    background-color: #343434;
    color: white;
}

#search-word:focus{
    outline: none;
}

.enterEmail{
    color: #555555;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    padding-left: 10px;
}

.enterEmail:hover{
    color: #B0B0B0;
    cursor: pointer;
}


/* ngdialog override */
.ngdialog.ngdialog-theme-default .ngdialog-content{
    width: 400px;
    height: 170px;
    padding: 0;
    overflow: hidden;

    /*this code for web-kit bug about radius corner*/
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

/* ngdialog override */
.ngdialog.ngdialog-theme-default .ngdialog-close:before{
    top: 0;
}

.popupTitle{
    width: 100%;
    height: 30px;
    background-color: #343434;
    box-shadow: 5px 0 10px #232323;
    color: #555555;
    font-size: 15px;
    padding-left: 10px;
}

.popupButton{
    float: right;
}
.popupNotice{
    font-size: 14px;
    height: 20px;
    text-indent: 20px;
    margin: 10px 0;
}
.user-email{
    background-image: url(icon_email.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position-x: 5px;
    background-position-y: 3px;
    margin: 10px;
    width: 90%;
    line-height: 25px;
    text-indent: 50px;
}
