html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
    background-color: #222222;
    font-family: 'KoPub Dotum';
    font-size: 1em;
}

input:focus {
    outline: none;
}

#container {
    margin: 0;
    height: 100%;
}

#rankList-container {
    width: 33%;
    height: 100%;
    float: left;
    position: relative;
}

#myList-container {
    width: 34%;
    height: 100%;
    float: left;
    display: inline-block;
}

#searchList-container {
    width: 33%;
    height: 100%;
    float: right;
    position: relative;
}

#video-container{
    width: 100%;
}

#songList-container{
    height: 100%;
    overflow: hidden;
    padding: 6px 20px;
    box-sizing: border-box;
}

#songList-container:hover{
    cursor: pointer;
    background-color: #555555;
}

ol {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-height: 769px){
    li {
        height: 90px;
    }
}

@media (min-height: 769px) and (max-height: 1079px){
    li{
        height: 110px;
    }
}

@media (min-height: 1079px){
    li {
        height: 150px;
    }
}

.thumnail {
    width: 30%;
    float: left;
    z-index: 1;
}

.thumnail img{
    width: 100%;
}

.name {
    width: 67%;
    float: right;
    text-overflow: ellipsis;
    font-size: 1em;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

.select-chart {
    height: 50px;
    width: 100%;
    background-color: #343434;
    color: #555555;
    position: absolute;
}

.select-chart:hover {
    background-color: #555555;
    cursor: pointer;
}

.select-button {
    font-size: 1em;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    line-height: 34px;
}

.chart-content-disabled {
    display: none;
}

.chart-content{
    position: absolute;
    display: block;
    top: 50px;
    right: 0;
    background-color: #343434;
    width: 100%;
}

.rankList-innerContainer{
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 50px;
    box-sizing: border-box;
}

.chart-list{;
    display: block;
    padding: 20px;
    height: 20px;
}

.chart-list:hover{
    cursor: pointer;
    background-color: #555555;
}

.myList-innerContainer {
    height: 50%;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.searchList-innerContainer {
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 50px;
}

.myList-menu {
    height: 45px;
    padding: 5px;
}

.myList-menu img{
    width: 40px;
    margin: 5px;
}

.myList-menu img:hover{
    cursor: pointer;
    background-color: #343434;
}

.myList-menu-left{
    float: left;
}

.myList-menu-right{
    float: right;
}

.divider{
    background-color: #555555;
    width: 100%;
    height: 1px;
}

#search-form{
    width: 100%;
    height: 50px;
    position: absolute;
}

#search-word{
    width: 100%;
    height: 100%;
    float: left;
    box-sizing: border-box;
    padding-left: 18px;
    border: 0;
    font-size: 1em;
    background-color: #343434;
    color: white;
}

#search-word:focus{
    outline: none;
}

.enterEmail{
    color: #555555;
    font-size: 1em;
    line-height: 40px;
    font-weight: bold;
    padding-left: 10px;
}

.enterEmail:hover{
    color: #B0B0B0;
    cursor: pointer;
}


/* ngdialog override */
.ngdialog.ngdialog-theme-default .ngdialog-content{
    width: 400px;
    height: 160px;
    padding: 0;
    overflow: hidden;

    /*this code for web-kit bug about radius corner*/
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

/* ngdialog override */
.ngdialog.ngdialog-theme-default .ngdialog-close:before{
    top: 0;
}

.popupTitle{
    width: 100%;
    height: 30px;
    background-color: #343434;
    box-shadow: 5px 0 10px #232323;
    color: #7a7a7a;
    font-size: 0.8em;
    padding-left: 10px;
}

.popupNotice{
    font-size: 0.8em;
    height: 20px;
    text-indent: 20px;
    margin: 10px 0;
}
.user-email{
    background-image: url(icon_email.png);
    background-repeat: no-repeat;
    background-size: 35px;
    background-position-x: 5px;
    background-position-y: 3px;
    margin: 10px;
    width: 90%;
    line-height: 25px;
    text-indent: 50px;
}

.buttonIcon{
    position: absolute;
    margin-top: 10px;
    margin-left: -30px;
}

.registerBtn{
    font-size: 0.8em;
    float: right;
    margin-right: 20px;
    color: #4b95fe;
    text-decoration: underline;
}

.registerBtn:hover{
    cursor: pointer;
    color: #555555;
    text-decoration: underline;

}



/* scroll bar */
.rankList-innerContainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0, .3);
    background-color: #343434;
}

.rankList-innerContainer::-webkit-scrollbar
{
    width: 12px;
    background-color: #555555;
}

.rankList-innerContainer::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.myList-innerContainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0, .3);
    background-color: #343434;
}

.myList-innerContainer::-webkit-scrollbar
{
    width: 12px;
    background-color: #555555;
}

.myList-innerContainer::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.searchList-innerContainer::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0, .3);
    background-color: #343434;
}

.searchList-innerContainer::-webkit-scrollbar
{
    width: 12px;
    background-color: #555555;
}

.searchList-innerContainer::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}